<template>
<div>
  <template v-for="item in wordList">
    <span
      v-text="item.word"
      :class="{'invisible-word': !item.visible}"
      @click="handleClick(item)"
    ></span>{{item.punc }}
  </template>
</div>
</template>

<script>
export default {
  name: 'cloze-select',
  props: ['raw'],
  data () {
    return {
      wordList: []
    }
  },
  methods: {
    isSuffixPunc (chars) {
      return /[^\w]$/.test(chars)
    },
    getWordItem (chars) {
      const obj = {
        visible: true
      }
      if (this.isSuffixPunc(chars)) {
        obj.word = chars.slice(0, -1)
        obj.punc = chars.slice(-1)
      } else {
        obj.word = chars
        obj.punc = ''
      }
      return obj
    },
    getWordList () {
      return this.raw.split(' ').map(this.getWordItem)
    },
    handleClick (item) {
      item.visible = !item.visible
      this.$emit('change:wordList', this.wordList)
    }
  },
  created () {
    const wordList = this.getWordList()
    this.wordList = wordList
    this.$emit('change:wordList', this.wordList)
  }
}
</script>

<style scoped>
div {
  font-size: inherit;
  width: 100%;
  height: 100%;
}
span {
  cursor: pointer;
}
.invisible-word {
  user-select: none; 
  text-decoration: underline;
  -webkit-text-decoration-color: #000;
  text-decoration-color: #000;
  color: #eee;
}
</style>
