<template>
<textarea v-model.lazy.trim="content" @change="change"></textarea>
</template>

<script>
export default {
  name: 'cloze-init',
  props: ['raw'],
  data () {
    return {
      content: this.raw
    }
  },
  methods: {
    change (event) {
      this.$emit('change:raw', this.content)
    }
  }
}
</script>

<style scoped>
textarea {
  box-sizing: border-box;
  padding: 0;
  width: 100%;
  height: 100%;
  color: inherit;
  font-kerning: inherit;
  font-size: inherit;
  font-family: inherit;
  border: none;
  resize: none;
}
textarea:focus {
  outline: none;
}
</style>
