<template>
<div class="step-container">
  <mu-stepper :activeStep="activeStep">
    <mu-step v-for="(step, i) in steps" :key="step.path">
      <mu-step-label>
        {{step.desc}}
      </mu-step-label>
    </mu-step>
  </mu-stepper>
  <div class="step-content cloze-area">
    <router-view
      :raw="raw"
      :wordList="wordList"
      @result="result = arguments[0]"
      @change:raw="changeRaw"
      @change:wordList="changeWordList"
    ></router-view>
  </div>
  <div class="step-bottom">
    <mu-flat-button class="step-button" label="Back" :disabled="activeStep === 0" @click="handlePrev"/>
    <mu-raised-button class="step-button" :label="isLastStep ? 'Check!' : 'Next'" primary @click="handleNext"/>
    <div v-show="result" class="tips">Correct!</div>
  </div>
</div>
</template>

<script>
export default {
  name: 'cloze',
  data () {
    return {
      activeStep: 0,
      result: false,
      steps: [
        { path: 'init', desc: 'Input' },
        { path: 'select', desc: 'Click' },
        { path: 'test', desc: 'Test' }
      ],
      raw: '', // get from init textarea
      wordList: []
    }
  },
  computed: {
    isLastStep () {
      return this.activeStep === this.steps.length - 1
    },
    finished () {
      return this.activeStep > this.steps.length - 1
    }
  },
  methods: {
    handleNext () {
      if (this.isLastStep) {
        this.checkCloze()
      } else {
        this.activeStep++
      }
    },
    handlePrev () {
      this.activeStep--
    },
    reset () {
      this.activeStep = 0
    },
    checkCloze () {
      this.$emit('check')
    },
    changeRaw (raw) {
      this.raw = raw
    },
    changeWordList (wordList) {
      this.wordList = wordList
    }
  },
  watch: {
    activeStep (val, oldVal) {
      this.result = false
      this.$router.push(this.steps[val].path)
    }
  },
  beforeRouteEnter (to, from, next) {
    if (to.path !== '/cloze/init') {
      next('/cloze/init')
    } else {
      next()
    }
  }
}
</script>

<style scoped>
.step-container {
  position: absolute;
  width: 100%;
  height: 100%;
}
.step-bottom {
  margin-top: 1rem; 
  text-align: center;
  position: relative;
}
.cloze-area {
  width: 100%;
  max-width: 800px;
  height: 50%;
  margin: 0 auto;
  padding: 0.5rem;
  border: 1px solid #bdbdbd;
  font-kerning: none;
  font-size: 16px;
  font-family: 'Times New Roman', Times, serif;
}
.tips {
  display: inline-block; 
  position: absolute;
  top: 50%;
  margin-left: 1em;
  margin-top: -0.5em;
  line-height: 1;
  color: #4caf50;
  font-size: 1.2rem;
  font-weight: bold;
}
</style>
