<template>
<div>
<template v-for="(item, index) in results">
  <template v-if="item.visible"
  >{{item.word}}</template><input
    v-else
    required="required"
    @focus="onFocus($event, item)"
    @input="onInput($event, item)"
    @blur="onBlur($event, item)"
    
    @keyup.delete="prevBlank($event, item)"
    @keydown.space.prevent="nextBlank($event, item)"
    @keydown.enter.prevent="check"
    :class="{wrong: item.wrong}"
  ></input
  >{{item.punc}} </template>
</div>
</template>

<script>
import MeasureText from '@/script/MeasureText'

export default {
  name: 'cloze-test',
  props: ['wordList'],
  data () {
    return {
      results: this.wordList.map(item => Object.assign({ fill: '', wrong: false }, item)),
      deleteKeyLock: true // true === locked
    }
  },
  methods: {
    check () {
      const incorrect = this.results
        .filter(item => !item.visible)
        .map(item => {
          item.wrong = item.fill && (item.fill !== item.word)
          return item.wrong || !item.fill
        })
        .some(r => r)

      if (!incorrect) {
        this.emitResult(true)
      }
    },
    emitResult (r) {
      this.$emit('result', r)
    },
    onFocus ($event, item) {
      // reset a turn
      this.deleteKeyLock = false
    },
    onInput ($event, item) {
      item.wrong = false
      const text = $event.target.value

      // '!==' means it changed, so lock delete
      this.deleteKeyLock = item.fill !== text
      item.fill = text
      this.changeInputWidth($event.target, text + '.') // kerning
      this.emitResult(false)
    },
    onBlur ($event, item) {
      this.changeInputWidth($event.target, item.fill)
    },
    changeInputWidth (el, text) {
      if (text) {
        const width = this.measureText.text(text).width
        el.style.width = width + 'px'
      } else {
        el.style.width = ''
      }
    },
    prevBlank ($event, item) {
      if (this.deleteKeyLock) {
        // reset to false each turn
        // allow delete twice in empty blank to go back
        this.deleteKeyLock = false
        return
      }
      this.toBlank($event, false)
    },
    nextBlank ($event, item) {
      const spans = Array.from(this.$el.querySelectorAll('.wrong'))
      if (spans.length) {
        let idx = spans.indexOf($event.target)
        idx++
        if (spans[idx]) {
          spans[idx].focus()
        }
      } else {
        this.toBlank($event, true)
      }
    },
    toBlank ($event, nextOrPrev) {
      const spans = Array.from(this.$el.querySelectorAll('input'))
      let idx = spans.indexOf($event.target)
      nextOrPrev ? idx++ : idx--
      if (spans[idx]) {
        spans[idx].focus()
      }
    },
    // todo
    // do not jump to back button
    onTab ($event) {
      const spans = Array.from(this.$el.querySelectorAll('.wrong'))
      if (!spans.length) return
      let idx = spans.indexOf($event.target)
      idx++
      if (spans[idx]) {
        $event.preventDefault()
        spans[idx].focus()
      }
    }
  },
  mounted () {
    this.$parent.$on('check', this.check)
    this.measureText = new MeasureText(this.$el)
  }
}
</script>

<style scoped>
div {
  font-size: inherit;
  width: 100%;
  height: 100%;
}
input {
  -webkit-appearance: none;
  border: none;
  padding: 0;
  display: inline-block;
  line-height: 1;
  text-decoration: underline;
  width: 2em;
}
input:invalid {
  border-bottom: 1px solid #e55; 
}
input:focus {
  outline: none;
  border-bottom-color: #4caf50;
  -webkit-text-decoration-color: #4caf50;
  text-decoration-color: #4caf50; 
}
.wrong {
  background: #fcc;
}
</style>
